html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h60 {
  height: 60px;
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev::after {
  display: none;

}

.displaynone {
  color: white !important;

}

/* swipper js */
.swiper-container {
  width: 550px;
  margin: 0px 0px 0px 2px;


}

@media screen and (min-width: 640px) {


  .swiper-container {
    width: 640px;
    margin: 0px 0px 0px 0px;
  }
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
    margin: 0px 0px 0px 0px;
  }
}

@media screen and (min-width: 768px) {


  .swiper-container {
    width: 768px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background-color: white;
    border-radius: 2px;
    padding: 2px;

  }


  .swiper-button-next {
    background-image: url(/angle-small-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .swiper-button-prev {
    background-image: url(/angle-small-left.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

  }
}


.IndexHeroImg {
  background-image:
    url('https://aitechnolog.com/examapp/Storage/img/home_banner_new.afe86261.jpg');
  background-position: 'center';
  background-repeat: 'no-repeat';
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .IndexHeroImg {
    background-image:
      url('https://aitechnolog.com/examapp/Storage/img/home_banner_new.afe86261.jpg');
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: cover;
    border-radius: 0px;

    overflow: hidden;
  }

}