.container {
  margin: auto;
  margin-top: 0;
  width: 80%;

}

.url {
  cursor: pointer;
  color: blueviolet;
}

.container_full {
  margin: 0;

}

.logomain {
  width: 150px;
  height: 40px;
  margin-top: -10px;
  cursor: pointer;
}

.logomain img {
  width: 100%;
}

.Box70Skelton {
  height: 100vh;
  width: 70%;
  margin: auto;
}

.BoxFullSkelton {
  height: 100vh;

  margin: auto;
}

.Box70 {
  margin: auto;
  width: 70%;
  background-color: rgb(251, 246, 246);
  min-height: 100vh;
}

.navbarBox {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  z-index: 999;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

}

.MainMenu {
  list-style: none;
  display: flex;
}

.MainMenu li {
  cursor: pointer;
  font-weight: 500;
  color: #3c4852;
  margin-left: 2rem;
}

.loginbtnTop {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  background-color: #08bd80;
  color: white;
  border-radius: 5px;
}

.loginbtnTop span {
  font-size: 20px;
}

.loginbtnTop small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}


.Btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  background-color: #161717;
  ;
  color: white;
  border-radius: 5px;
  width: fit-content;
}

.Btn_icon span {
  font-size: 20px;
}

.Btn_icon small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}

.NavLeft {
  display: flex;
}

.ContactTop {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  color: #161717;
  border-radius: 5px;
}

.Contact_icon {
  font-size: 20px;
}

.Contact_number {
  margin-top: -5px;
  font-weight: 500;
}

/* dashoard navbar */
/* Subnavbar */
.Dashboard_Sub {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  z-index: 999;
}

/* Subnavbar */
.navbarBox_Sub {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  z-index: 999;
}

.Navbar_Sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.backBtn {
  font-size: 30px;
  cursor: pointer;
}

.SubmenuTitleBox {
  color: #3c4852;
  display: flex;
  justify-content: center;
  align-items: center
}

.SubmenuTitleBox small {
  font-size: 16px;
  font-weight: 500;
  margin-top: -8px;
  color: #3c4852;
}



/* hero box */
.herobox {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;

}

.heroboxleft {
  width: 40%;
}

.heroboxleft h1 {
  margin-bottom: 0px;
  color: #3c4852;
}

.herobox_span {
  margin-bottom: 30px;
}

.categoryslider {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: 5px;

}

.categoryslider_boxA {
  width: 50%;
  overflow: hidden;
}

.categoryslider_boxA img {
  width: 100%;

}

.categoryslider_boxB {
  width: 50%;
}

.categoryslider_Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed #3c4852;
  color: #3c4852;
  ;
  padding-bottom: 10px;

}

.categoryslider_Text span {
  font-weight: 500;
  font-size: 20px;
}

.categoryItemBox {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.categoryItem {
  cursor: pointer;
  padding: 1rem 1rem;
  text-align: center;
  color: #3c4852;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}

.TitlebtnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #3c4852;
}

.CourseHomelist {
  width: 100%;
}

.TestItemBox {
  --auto-grid-min-size: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.TestItem {
  cursor: pointer;
  text-align: center;
  color: #3c4852;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  border-radius: 15px;
  overflow: hidden;
}

.TestText {
  color: #3c4852;

}

.TestTexttitlebox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Testfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.HeroCountBox {
  width: 100%;
  overflow: auto;
}

.herobox_counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.herobox_counter_item {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 190px;
  height: 150px;
}

.herobox_counter_item span {
  margin-top: 5px;
}

/* Modal */
.modal_sm {
  position: absolute;
  background-color: white;
  width: auto;
  border-radius: 10px;
  outline: none;
  margin: auto;

}

/* Login box */
.Login_box {
  padding: 5px;
  margin: 10px;
  justify-content: center;
  align-items: center;

}

.Login_h {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Login_h small {
  font-size: 20px;
  cursor: pointer;
}

.Login_h span {
  font-size: 20px;

}

.Login_form_box {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 5px;
}

.Country_code span {
  font-size: 20px;
}

.Login_form_input {
  width: 85%;
}

.Login_input {
  outline: none;
  width: 100%;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  border-bottom: 1px solid #161717;

}

.clickbtn {
  margin: auto;
  background-color: #161717;
  color: white;
  width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.OTP_input {
  outline: none;
  width: 100%;
  border: none;


  font-size: 25px;
  border-bottom: 1px solid #161717;
}

.Forminputs {
  margin: 10px;
}

.normal_input {
  outline: none;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px solid #c4c9c9;
}

.loggedinbox {
  margin: 0px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ProfileTop {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  color: #161717;
  border-radius: 5px;
}

.ProfileTop span {
  font-size: 20px;
}

.ProfileTop small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}

.MobileMenuBtn {
  display: none;

}

.dataspacer {
  height: 40px;
}

.enqformHome {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* inputs */
.inqinput {
  outline: none;
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  border: 1px solid #a1ffff;
  border-radius: 5px;

}


/* Company_section */
.Company_section {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap-reverse;

}

.Company_section_a {
  width: 50%;
  overflow: hidden;
}

.Company_section_b {
  width: 50%;
}

.Company_logos {
  display: flex;
  flex-wrap: wrap;
}

.Company_logo_item {
  width: 150px;
}

.Company_logo_item img {
  width: 100%;
}

/* Processtojoin */
.Processtojoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProcessItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.ProcessItem span {
  font-weight: 500;
  font-size: 25px;
}

.ProcessItem img {
  width: 100px;
}

.ProcessItemBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Footer */
.Bottom_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.FooterBox {
  min-height: 300px;
  width: 80%;
  margin: auto;
  padding: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.FooterBox_compnay {
  width: 30%;
}

.FooterBox_socialIcons span {
  cursor: pointer;
  font-size: 25px;
}

.FooterBox_menu li {
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
}

.FooterBox_menu li:hover {
  color: rgb(255, 140, 0);
}

.FooterBox_address {
  width: 30%;
}

.FooterBox_address_item {
  margin-top: 10px;
  display: flex;
}

.FooterBox_address_item small {
  margin-left: 10px;
  font-size: 15px;
}

/* Grid box */
.gridbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.CaterorieshomeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(239, 238, 216);
  color: rgb(37, 36, 36);
}

.CaterorieshomeItem_title span {
  font-weight: bold;

}


/* Course page css */


.course_databox_A {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

/* .course_databox_B{
  width: 30%;
 
  padding: 10px;
  position: fixed;
  right: 0;
  top:10;
  min-height: 100vh;
} */
.CourseDataBox {
  display: flex;
  flex-wrap: wrap;
}

.CBoxB {
  width: 60%;
  padding: 10px;
}

.CBoxA {
  padding: 10px;
  width: 35%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.CBoxAData_Title h1 {
  font-weight: 500;
  font-size: 20px;
  color: #3c4852;
  margin-top: 5px;
}

.CBoxAIM {
  border-top: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
}

.CBoxAData_BoxFotter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.CBoxAData_TagsItem {
  display: flex;
  justify-content: left;
  align-items: center;
}

.CBoxAData_Tags {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.CBoxAData_iconIMG {
  background-color: rgb(233, 233, 202);
  height: 30px;
  border-radius: 50%;
  width: 30px;
  overflow: hidden;
}

.CBoxAData_iconIMG {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBoxAData_TagsItemData {
  margin-left: 10px;
  width: 90%;
}

.CBoxAData_TagsItemData span {
  font-weight: 500;
  color: rgb(89, 89, 241);
}

/*CousalingBox */
.CousalingBox {

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  border-radius: 15px;
  border: 0.5px dashed rgb(191, 191, 199);
  padding: 10px
}

.CousalingBox_all {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.CousalingBox_allA {
  width: 60%;
}

.CousalingBox_allA h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.CousalingBox_allB {

  overflow: hidden;
}

.CousalingBox_allB {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CousalingBox_allB img {
  width: 200px;
}

.FootermobileBtn {
  display: none !important;
}

.saletag span {
  font-size: 10px;
  font-weight: 500;
  color: rgb(129, 79, 255);
}

.Enqmodal_proccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.Enqmodal_proccess small{
margin-top:5px;
font-size: 10px;
}
.Enqmodal_Donetext{
  padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.Enqmodal_Donetext small{
font-size: 12px;
}

/* Enqmodal */
.Enqmodal {
  background-color: white !important;
  margin: auto;
  outline: none;
  width: 50%;
  margin-top: 10px;
}

.Enqmodal_close {
  cursor: pointer;

  font-size: 30px;

}


.Enqmodal_title {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  position: sticky;
  top: 0;
  background-color: white;
}

.LoginBox_inputBoxtt {
  margin: 10px;
  width: 50%;
  /* overflow: auto;
  height: 300px; */
}

.LoginBox_inputEnq {
  width: 50%;
}

.Enqmodal_titletext {
  font-size: 20px;
  font-weight: 500;
  margin-top: -8px;
  margin-left: 10px;
}

.Enqmodal_MainBox {
  display: flex;
  flex-wrap: wrap-reverse;

}
.Enqmodal_MainBoxDone {
  display: flex;
  flex-wrap: wrap;

}

.LoginBox_inputBoxtt {
  width: 50%;
  overflow: auto;
}

.Enqmodal_MainBoxB {
  width: 40%;
  overflow: hidden;
}

.Enqmodal_MainBoxB img {
  width: 100%;
}

/* Course page css end */
/* mobile css */

@media only screen and (max-width: 1200px) {
  .MobileMenuBtn {
    display: none;

  }


}

@media only screen and (max-width: 600px) {
  .dataspacer_mob {
    height: 50px;
  }

  .MainMenu {
    display: none;
  }

  .container {
    margin: 0;
    width: 100%;

  }

  .logomain {
    width: 100px;
    height: auto;
  }

  .ContactTop {
    display: none;
  }

  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .MobileMenuBtn {
    display: block;


  }

  .MobileMenuBtn span {
    font-size: 30px;
  }

  .spacermobile {
    width: 100%;
  }

  .heroboxleft {
    width: 100%;
  }

  .heroboxright {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroboxright img {
    width: 100%;
  }

  .herobox_counter_item {
    width: 30%;
    height: 100px;

  }

  .herobox_counter_item span {
    margin-top: 5px;
    font-size: 12px;
  }

  .section {
    padding: 10px;
  }

  .TitlebtnBox {
    padding-left: 5px;
  }

  .dataspacer {
    height: 10px;
  }

  .Btn_icon {

    width: auto;
  }

  .enqformHome {
    width: auto;

  }

  .Company_section_a {
    width: 100%;
    overflow: hidden;
  }

  .Company_section_b {
    width: 100%;
  }

  .Company_logo_item {
    width: 50%;
  }

  .ProcessItem {
    width: 130px;
  }

  .FooterBox_compnay {
    width: 100%;
  }

  .FooterBox_address {
    width: 100%;
  }

  .FooterBox_menu {
    width: 100%;
  }

  /* Login */
  .modal_sm {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline: none;
  }

  .CaterorieshomeItem {
    width: 100px;
  }

  .CBoxA {
    min-width: 90%;
    position: relative;
    height: auto;
    margin: auto;
  }

  .CBoxB {
    min-width: 90%;
    margin: auto;
  }

  .CousalingBox_allA {
    min-width: 100%;
  }

  .CousalingBox_allB {
    min-width: 100%;
  }

  .FootermobileBtn {
    display: flex !important;
    position: fixed !important;
    bottom: 0;
    background-color: white !important;
    width: 100%;
    align-items: center !important;
    justify-content: space-around;
    padding: 10px 10px 10px 5px;
    border-top: 1px dashed rgb(211, 203, 203);

  }

  .CBoxAData_BoxFotter {
    display: none;

  }

  .Enqmodal {
    margin-top: 0px;
    width: 100%;

  }

  .Enqmodal_MainBoxB {
    width: 100%;
  }

  .LoginBox_inputBoxtt {
    width: 100%;

    overflow: auto;
  }

  .LoginBox_inputEnq {
    width: 100%;
  }

}