/* primary color #f39b83; */
.mob_footer_menu {
  display: none;
  position: sticky;
  bottom: -1px;
  z-index: 1;
  background-color: #ffffff;
  min-width: 100%;
  color: black;

}
.EducatorScrollBox{
display: flex;
}
.EducatorScrollItem{
  margin: 10px;
  min-width: 220px;
}
.EducatorScrollItemName{
  margin-top: 5px;
}
.EducatorScrollItemName span{
 font-weight: 500;
}

.CoursePageSkelton{
  margin: 5px;
}
.CoursePageSkeltonItem{
  margin: 5px;
}
.AppLogoBox{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  padding: 10px;
  margin: 10px;
  border-radius:10px;
  cursor: pointer;
}

.AppLogoBoxA{
  width: 50%;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AppLogoBoxB{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 50%;
}
.ReviewItemBox {
  display: flex;

}

.ReviewItem {
  padding: 10px;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 211, 211);
  border-radius: 10px;

}

.ReviewText {
  max-height: 150px;
  overflow: hidden;
}

.ReviewItemBoxB {
  margin-left: 5px;

}

.Namebox span {
  font-weight: 500;
  font-size: 15px;

}

.ReviewItemBoxAImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


}

.ChoosePaymentBox {
  padding: 10px;

}

.ChooseItemPG {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgb(155, 145, 145);
  display: flex;
  align-items: center;
}

.DMPlayerApp {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

.DMPlayerAppItem {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;

}

.FreeSubBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.Sharebox {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.Shareboxicons {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.ShareboxiconsItems {
  margin: 5px;
}

.Shareboxlotte {
  width: 200px;
  height: 200px;
}

.ProccesboxItembox::-webkit-scrollbar {
  display: none;
}

.StatusTextpitchDone {
  text-align: center;
  background-color: blue;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  width: fit-content;
  margin: 5px;
  color: white;
}

.StatusTextpitchPending {
  text-align: center;
  background-color: rgb(255, 0, 0);
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  width: fit-content;
  margin: 5px;
  color: white;
}

.AnswerkeyItem {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(217, 215, 215);
}

.RankBox {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 176, 176);

  border-radius: 10px;
}

.RankBox span {

  font-size: 30px;
}

.LeaderboardlistBox {
  margin-top: 10px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(217, 215, 215);
}

.LeaderboardlistBoxAText span {
  font-weight: bold;
  color: #4a4646;
}

.VideoItemBox {
  display: flex;

  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(217, 215, 215);


}

.VideoItemBoxData {
  width: 70%;
  margin-left: 10px;
  padding: 10px;
}

.flexwithspacebettween {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ClassRoomNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 5px;
}

.CourseNamebox {
  background-color: #1d75bd;
  padding: 10px;
  text-align: center;
  color: white;
}

.ClassRoomlogo {
  width: 80px;
  /* height: 40px; */
  cursor: pointer;

}

.dailymotionplayer {
  width: 100%;
  height: 100%;
}

.ClassRoomlogo img {
  width: 100%;
}

.VideolistItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(241, 236, 236);
}

.ChapterlistItem {
  margin-top: 10px;
  border: 1px solid rgb(234, 229, 229);
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ChapterlistItem:hover {
  background-color: rgb(243, 239, 239);
  color: black;
}

.ChapterlistItemdata span {
  font-size: 15px;

}

.LottieDonepayment {
  height: 500px;
  width: 100%;
  margin: auto;
}

.DoneBoxCourse {
  width: 50%;
  margin: auto;
}

.DoneDataITEMA {

  min-width: 50%;
}

.DoneData {
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}

.DoneDataITEMATitle {
  font-weight: 500;
}

.DoneDataITEM {
  margin: 10px;
  display: flex;
  align-items: center;

}

.Chekoutlogo {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ModalHeaderT {

  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(243, 237, 237);
  z-index: 999;
  padding: 10px;
}

.ModalHeaderTBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ModalContentBox {
  padding: 10px;
}

.OnlyMobile {
  display: none;
}

.SaveTodayBoxCourse {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  background: linear-gradient(-45deg, rgb(255, 181, 33), #ede9ea, #e3e9eb, #ccd523);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: flex;
  align-items: center;
  justify-content: center;


  padding: 10px;
  color: #2e2929;
  font-size: 12px;


}

.SaveTodayBoxCourseB {

  margin-top: -4px;
  margin-left: 5px;
}

.Desktop30px {
  min-height: 30px;
}

.CourseBox_container {
  margin: auto;
  width: 80%;
  color: #3c4852;
  display: flex;
  justify-content: center;

}

.BgimgCourseCheckout {

  background-image:
    url('https://aitechnolog.com/examapp/Storage/img/pngtree-background-pattern-with-icon-symbol-picture-image_1154242.jpg');
  background-position: 'center';
  background-repeat: 'repeat';
  background-size: contain;

  min-height: 100vh;
}

.BgimgCourseCheckoutWhitefade {
  background-color: rgba(255, 255, 255, 0.878);
  min-height: 100vh;
}

.BoxCheckoutCourse {
  width: 50%;
  margin: auto;
}

.CourseCheckoutwhitebox {
  background-color: rgba(255, 255, 255, 0.784);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
}

.CourseBox_IconTextBox {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.CourseBox_IconTextBoxB {
  margin-left: 5px;
  margin-top: -4px;
  font-size: 12px;
}

.CourseBox_IconTextBoxA {
  font-size: 12px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(243, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CourseBox_container_A {
  width: 60%;


}

.CourseBox_container_B {

  height: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;

  width: 40%;
  padding: 10px;

}

.CourseBox_container_BDataBox {
  margin-top: 10px;
}

.CourseBox_EnrollBTNBOX {
  display: flex;
  align-items: center;
  justify-content: center;

}

.CreateOrderBtnfinal {

  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.EnrollBtn_Course {

  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.EnrollBtn_Course:hover {

  color: rgb(255, 255, 255);

}

.Space5Mobile {
  display: block;
  min-height: 10px;
}

.mob_footer_menu_items {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.mobmenu_icon {
  font-size: 20px;
}

.footer_menu_btn {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.LoginFull {

  background-image:
    url('https://aitechnolog.com/examapp/Storage/img/pngtree-background-pattern-with-icon-symbol-picture-image_1154242.jpg');
  background-position: 'center';
  background-repeat: 'repeat';
  background-size: contain;

  overflow: hidden;
}

.LoginBox {
  background-color: rgba(255, 255, 255, 0.784);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.LoginBoxItem {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.784);
  width: 80%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 0px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;

}

.regBox {
  width: 50%;
}

.LoginBoxItem_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginBoxItem img {
  width: 100px;
}

.LoginBox_input {
  margin-top: 20px;
}

.LoginBoxItem h1 {
  margin-bottom: 0px;
}

.logingif {
  width: 40%;
}

.regdoneimg img {
  width: 100%;
}

.logingif img {
  width: 100%;
}

.container {
  margin: auto;
  margin-top: 0;
  width: 80%;
  color: #3c4852;
  overflow: hidden;
}

.centeritem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CourseListBox {
  position: relative;
  padding: 10px;

}

.CoverBoxTestSeries {
  display: flex;
  background-color: #b7deff;
  border-radius: 10px;
}

.TitleCenterBox {
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CoverBoxTestSeriesText {
  padding: 5px;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.CoverBoxTestSeriesPoster {
  height: 250px;
  width: 50%;
}

.CoverBoxTestSeriesPosterIMG {
  width: 100%;

}

.CoverBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CoverBoxPoster {
  height: 250px;
  width: 50%;
}

.CoverBoxPosterIMG {
  width: 100%;

}

.LoadMoreBtn {

  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.LoadMoreBtn:hover {
  background-color: #ff693d;

  color: white;

}

.EnrollBtn {

  background-color: #292b65;
  color: white;
  padding: 2px 20px 5px 20px;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}


.EnrollBtn:hover {
  background-color: #a58b33;
  color: rgb(255, 255, 255);

}

.HeroCatList {
  display: flex;
}

.LoaderFull {
  width: 100%;
}

.HomeiMG {
  margin: 10px;
}

.CourseGrid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.ChapterlistBoxItem {
  padding: 10px;
  display: flex;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  cursor: pointer;
}

.ChapterlistBoxItem:hover {
  background-color: rgb(208, 255, 115);
}

.EducatorSmallFlex {
  display: flex;
  flex-wrap: wrap;


}

.EducatorSmallGridItem {
  width: 100px;
  margin: 5px;
  background-color: rgb(242, 244, 238);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
 .EducatorSmallFlex::-webkit-scrollbar {
   display: none;
 }

.EducatorSmallGridItemImg {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.EducatorSmallGridItemtext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.EducatorSmallGridItemtext span {
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.EducatorSmallGridItemtext small {

  font-size: 13px;
  text-align: center;
}

.CourseItems:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

}

.CatGrid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

}

.CatGridText {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

}

.HeroBox2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroBox2A {
  width: 50%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.HeroBox2B img {
  width: 100%;
}

.HeroBox2B {

  padding: 10px;
  width: 50%;
}

.FeaturesItem {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.FeaturesItemImg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px;
}

.FeaturesItemText {
  margin-left: 10px;
}

.FeaturesItemText span {
  font-weight: 500;
}

.TitleBoxBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.TitleBoxBtn_TEXT {
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
}

.TitleBoxBtn_TEXTCat {
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
}

.TitleBoxBtn_BTN {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #e2e4e6;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  height: fit-content;
}

.CatBoxItemCenter {
  padding: 5px;
  color: rgb(65, 62, 62);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.CatBoxItemCenter:hover {
  border: 1px solid rgb(188, 179, 179);
}

.CatBoxItemCenterText {
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #272728;
}

.CatBoxItemCenterText:hover {
  background-color: #ff5e5e;
}

.HomeiMG img {
  border-radius: 10px;
  border: 0.5px solid #e2e4e6;
  width: 100%;
}


.Showmobile {
  display: none;
}

.heroboxright {
  padding: 0px;
}

.TimeBoxResult {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DBContainerflex {
  display: flex;
}

.ShadowBox {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  margin-top: 10px;
}

.AttemptListItem {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  margin-top: 10px;
}

.ResultBox {
  padding: 10px;
}

.GetStartedBTN {
  background-color: rgb(28, 26, 26);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.GetStartedBTN:hover {
  background-color: #fe8f49;
  color: rgb(0, 0, 0);

}

.Websitemenu {
  margin: auto;
  width: 80%;

  border-bottom: 1px dashed #bdbbc5;
}



.DashboardMenuBox {
  padding: 10px;
}

.WhyChooseBox {
  padding: 10px;

}

.WhyChooseBoxA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.DashboardMenuItem {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.DBContainerMenu {
  background-color: rgb(244, 241, 241);
  min-width: 20%;
}

.DBContainerarea {
  width: 100%;
}

.DashboardBox {
  color: #3c4852;
  overflow: hidden;
  margin: auto;
  width: 95%;

  min-height: 100vh;
  background-color: rgb(245, 251, 251);
}

.EditAccInput {
  margin-top: 15px;
}

.containerInovice {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

  margin: auto;
  margin-top: 0;
  width: 40%;
  color: #3c4852;
  overflow: hidden;
  background-color: rgb(244, 240, 240);
}

.Datatext {
  margin: 10px;
}

.containerInoviceBox {
  padding: 10px;
}

.Header {
  width: 100%;

  overflow: hidden;
  background-color: #ffffff;
  z-index: 999;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(232, 228, 228);
}

.HeaderBox {
  margin: auto;

  display: flex;
  width: 80%;

  padding: 10px;
}


.HeaderLeft {
  display: flex;
  align-items: center;
}

.HeaderLeft {
  display: flex;
  align-items: center;
}

.DaboardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DaboardHeaderA {
  display: flex;
  align-items: center;
}

.containerInoviceHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OrderDetailsItem {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.PaymentBox {
  margin: auto;
  margin-top: 0;
  width: 50%;
  color: #3c4852;
  overflow: hidden;
}

.PlanSumabrybox {
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
}

.dbLogobox {
  background-color: rgb(255, 255, 255);
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DbMenuItemBox {
  min-height: 100vh;
  background-color: rgb(248, 241, 241);
  font-weight: 500;

}

.DbMenuItem {
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.tdtext {
  font-size: 15px;


}

.Paybtnbox {
  margin: auto;
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devider {
  display: none;
  height: 10px;
  background-color: #f4f7f7;
}

.url {
  cursor: pointer;
  color: blueviolet;
}

.container_full {
  margin: 0;

}

.TestPassDetailsbox {
  margin: auto;

}

.testDestailsStiker {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  margin-bottom: 20px;
}

.TestCounterbox {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

.TestCounterItem {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logomain {
  width: 100px;
  /* height: 40px; */
  cursor: pointer;

}

.logoDashboard {
  width: 150px;

  cursor: pointer;

}

.testboxtestlist {
  display: flex;
}

.testboxtestlistA {
  width: 100%;
  padding: 10px;
}

.CBoxBContentflexItem {
  width: 100%;
  background-color: red;
}

.BuyPassbox {
  display: flex;
  flex-wrap: wrap;
}

.BuyPassboxA {
  width: 50%;
}

.BuyPassboxB {
  width: 50%;

}

.PlanItem {
  background-color: red;
}

.BuyPassboxAContent {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.BuyPassboxBContent {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  margin: 10px;

}

.Applycodebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  margin: 10px;
  background-color: #ab8352;
  color: white;
  cursor: pointer;
}

.PlanBoxitem {
  background-color: #dcf9fd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.PassplanTagline {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  background: linear-gradient(-45deg, #3cff00, #ede9ea, #e3e9eb, #ccd523);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.Buyplanbutton {
  font-size: 12px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.logomain img {
  width: 100%;
}

.testiconsBox {
  display: flex;
  align-items: center;
}

.testiconsItemMain {
  margin-left: 10px;
  margin-top: 10px;
}

.testiconsBox {
  font-size: 10px;
}

.Testlistitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

}

.Box70Skelton {
  height: 100vh;
  width: 70%;
  margin: auto;
}

.BoxFullSkelton {
  height: 100vh;

  margin: auto;
}

.Box70 {
  margin: auto;
  width: 70%;
  background-color: rgb(251, 246, 246);
  min-height: 100vh;
}

.navbarBox {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  /* background-color: #262261; */
  background-color: white;
  border-bottom: 1px solid rgb(243, 237, 237);
  z-index: 999;
}

.WhyChooseBoxB {
  display: flex;
  justify-content: center;

}

.WhyChooseBoxItem {
  display: flex;

  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  width: 100%;
}

.WhyChooseBoxItemIcon {
  min-width: 40px;
  max-height: 40px;
  background-color: #1d75bd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
}

.PassHeroBox {
  display: flex;
  justify-content: center;
  align-items: center;

}

.PassHeroBoxA {
  width: 40%;
}

.PassHeroBoxB {
  width: 40%;
}

.PassHeroItemBox {
  display: flex;
  width: 100%;
}

.PassHeroItem {
  display: flex;
  align-items: center;
  min-width: 50%;
}

.IconPassheroimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  min-width: 50px;
  height: 50px;
  border-radius: 10px;


}

.PassHeroBoxAImg {
  display: flex;

  justify-content: center;
  align-items: center;
}

.PassHeroBoxAImg img {
  width: 100%;
}

.Navbar {
  margin: auto;
  width: 80%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MainMenu {
  margin-top: 0px;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
}

.MainMenu li {
  cursor: pointer;
  font-weight: 500;
  margin-left: 2rem;
  color: rgb(0, 0, 0);
}

.MainMenu li:hover {
  color: #ff0000;
}

.loginbtnTop {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px 10px 0px 10px;
  background-color: #ffffff;
  border: 1px solid #e2e4e6;
  color: #262261;
  border-radius: 5px;
  height: fit-content;

}

.loginbtnTop span {
  font-size: 20px;
}

.loginbtnTopBtns {
  padding: 10px;
}

.loginbtnTop small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}


.Btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  background-color: #161717;
  color: white;
  border-radius: 5px;
  width: fit-content;
}

.Btn_icon:hover {
  background-color: #fe8f49;
  color: rgb(36, 35, 35);
}

.Btn_icon span {
  font-size: 20px;
}

.Btn_icon small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}

.NavA {
  display: flex;
  align-items: center;
}

.NavLeft {
  display: flex;
  align-items: center;

}

.ContactTop {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  color: #000000;
  border-radius: 5px;
}

.Contact_icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;

}

.Contact_number_Text {
  color: #f1582e;
  font-size: 10px
}


.Contact_number {

  margin-top: -5px;
  font-weight: 500;
  margin-left: 10px;
}

/* dashoard navbar */
/* Subnavbar */
.Dashboard_Sub {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  z-index: 999;
}

/* Subnavbar */
.navbarBox_Sub {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  z-index: 999;

}

.Navbar_Sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.backBtn {
  font-size: 30px;
  cursor: pointer;
}

.SubmenuTitleBox {
  color: #3c4852;
  display: flex;
  justify-content: center;
  align-items: center
}

.SubmenuTitleBox small {
  font-size: 16px;
  font-weight: 500;
  margin-top: -8px;
  color: #3c4852;
}


.HeroSlider {
  width: 100%;
}

.HeroSliderIMg {
  min-width: 100%;
}

.HeroSliderIMg img {
  min-width: 100%;
}

/* hero box */



.HomeHeroBox_Second {
  border-radius: 20px;
  position: relative;
  margin: auto;
  background-color: rgb(255, 255, 255);
  min-height: 200px;
  margin-top: -100px;
  width: 90%;
  border: 1px solid #ccc;
  z-index: 99;

}

.herobox {
  display: flex;
  justify-content: center;
  padding: 10px;

}

.heroboxright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.heroboxrightIMG {
  width: 65%;

}

.herobox_counter_item {
  width: 30%;
  height: 100px;

}

.herobox_counter_item span {
  margin-top: 5px;
  font-size: 12px;
}

.heroboxleft {
  padding: 50px;
  width: 50%;
}

.heroboxleft h1 {
  font-size: 40px;
  margin-bottom: 0px;
}


.herobox_span {
  margin-bottom: 30px;
}





.categoryslider {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: 5px;

}

.categoryslider_boxA {
  width: 50%;
  overflow: hidden;
}

.categoryslider_boxA img {
  width: 100%;

}

.categoryslider_boxB {
  width: 50%;
}

.categoryslider_Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed #3c4852;
  color: #3c4852;
  ;
  padding-bottom: 10px;

}

.categoryslider_Text span {
  font-weight: 500;
  font-size: 20px;
}

.categoryItemBox {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.categoryItem {
  cursor: pointer;
  padding: 1rem 1rem;
  text-align: center;
  color: #3c4852;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}

.TitlebtnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #3c4852;
}

.CourseHomelist {
  width: 100%;
}

.TestItemBox {
  --auto-grid-min-size: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.CourseItems {
  cursor: pointer;
  text-align: center;
  color: #3c4852;
  border: 1px solid #e2e4e6;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}



.CourseItemsData {

  color: #3c4852;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.CourseItemstitlebox {
  min-height: 50px;
  overflow: hidden;
}

.TestItem {
  cursor: pointer;
  text-align: center;
  color: #3c4852;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  border-radius: 15px;
  overflow: hidden;
}


.TestText {
  color: #3c4852;

}

.TestTexttitlebox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Testfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}



/* Modal */
.modal_sm {
  position: absolute;
  background-color: white;
  width: auto;
  border-radius: 10px;
  outline: none;
  margin: auto;

}

/* Login box */
.Login_box {
  padding: 5px;
  margin: 10px;
  justify-content: center;
  align-items: center;

}

.Login_h {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Login_h small {
  font-size: 20px;
  cursor: pointer;
}

.Login_h span {
  font-size: 20px;

}

.Login_form_box {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 5px;
}

.Country_code span {
  font-size: 20px;
}

.Login_form_input {
  width: 85%;
}

.Login_input {
  outline: none;
  width: 100%;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  border-bottom: 1px solid #161717;

}

.jobapplicationform {
  padding: 30px;
}

.clickbtn {
  margin: auto;
  background-color: #161717;
  color: white;
  width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.OTP_input {
  outline: none;
  width: 100%;
  border: none;


  font-size: 25px;
  border-bottom: 1px solid #161717;
}

.Forminputs {
  margin: 10px;
}

.normal_input {
  outline: none;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px solid #c4c9c9;
}

.loggedinbox {
  margin: 0px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ProfileTop {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  color: #161717;
  border-radius: 5px;
}

.ProfileTop span {
  font-size: 20px;
}

.ProfileTop small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}

.MobileMenuBtn {
  display: none;

}

.dataspacer {
  height: 40px;
}

.enqformHome {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* inputs */
.inqinput {
  outline: none;
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  border: 1px solid #a1ffff;
  border-radius: 5px;

}


/* Company_section */
.Company_section {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap-reverse;

}

.Company_section_a {
  width: 50%;
  overflow: hidden;
}

.Company_section_b {
  width: 50%;
}

.Company_logos {
  display: flex;
  flex-wrap: wrap;
}

.Company_logo_item {
  width: 150px;
}

.Company_logo_item img {
  width: 100%;
}

/* Processtojoin */
.Processtojoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProcessItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.ProcessItem span {
  font-weight: 500;
  font-size: 25px;
}

.ProcessItem img {
  width: 100px;
}

.ProcessItemBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Footer */
.Bottom_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.FooterBox {
  min-height: 300px;
  width: 80%;
  margin: auto;
  padding: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.FooterBox_compnay {
  width: 30%;
}

.FooterBox_socialIcons span {
  cursor: pointer;
  font-size: 25px;
}

.FooterBox_menu li {
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
}

.FooterBox_menu li:hover {
  color: rgb(255, 140, 0);
}

.FooterBox_address {
  width: 30%;
}

.FooterBox_address_item {
  margin-top: 10px;
  display: flex;
}

.FooterBox_address_item small {
  margin-left: 10px;
  font-size: 15px;
}

/* Grid box */
.gridbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.CaterorieshomeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 80px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  color: rgb(37, 36, 36);
}

.CaterorieshomeItem_title span {
  font-weight: 500;

}

.CaterorieshomeItem:hover {
  border-bottom: 1px solid black;
}

.TestItem:hover {
  border-bottom: 1px solid black;
}

/* Course page css */


.course_databox_A {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

/* .course_databox_B{
  width: 30%;
 
  padding: 10px;
  position: fixed;
  right: 0;
  top:10;
  min-height: 100vh;
} */
.CourseDataBox {
  display: flex;
  justify-content: center;

}

.CBoxB {
  padding: 10px;
}

.CBoxA {
  padding: 10px;
}

.CBoxAData_Title h1 {
  font-weight: 500;
  font-size: 20px;
  color: #3c4852;
  margin-top: 5px;
}

.CBoxAIM {
  border-top: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
}

.CBoxAData_BoxFotter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.EnrollBtnBox {
  display: flex;
  align-items: center;

}

.EnrollBtnFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  background-color: #161717;
  color: white;
  border-radius: 5px;

}

.EnrollBtnFooter:hover {
  background-color: #fe8f49;
  color: rgb(36, 35, 35);
}

.EnrollBtnFooter span {
  font-size: 20px;
}

.EnrollBtnFooter small {
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}

.CBoxAData_TagsItem {
  display: flex;
  justify-content: left;
  align-items: center;
}

.CBoxAData_Tags {

  margin-top: 10px;
  padding: 0px;
  cursor: pointer;
}

.CBoxAData_iconIMG {
  background-color: rgb(233, 233, 202);
  height: 30px;
  border-radius: 50%;
  width: 30px;
  overflow: hidden;
}

.CBoxAData_iconIMG {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBoxAData_TagsItemData {
  margin-left: 10px;
  width: 90%;
}

.CBoxAData_TagsItemData span {
  font-weight: 500;
  color: rgb(89, 89, 241);
}

/*CousalingBox */
.CousalingBox {

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  border-radius: 15px;
  border: 0.5px dashed rgb(191, 191, 199);
  padding: 10px;
  margin: 10px;
}

.CousalingBox_all {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.CousalingBox_allA {
  width: 60%;
}

.CousalingBox_allA h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.CousalingBox_allB {

  overflow: hidden;
}

.CousalingBox_allB {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CousalingBox_allB img {
  width: 200px;
}


.FootermobileBtn {
  display: none !important;
}

.FooterPaytbn {
  position: fixed !important;
  bottom: 0;
  background-color: rgb(255, 255, 255) !important;


}

.FooterPaytbnBox {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.FootermobileBtnCourse {
  display: none !important;
}

.CreateOrderBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreateOrderBtn {
  display: flex !important;
  position: fixed !important;
  bottom: 0;
  background-color: white !important;
  align-items: center !important;
  min-width: 300px;
  border-top: 1px solid rgb(243, 237, 237);

}

.saletag span {
  font-size: 10px;
  font-weight: 500;
  color: rgb(129, 79, 255);
}

.Enqmodal_proccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.Enqmodal_proccess small {
  margin-top: 5px;
  font-size: 10px;
}

.Enqmodal_Donetext {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Enqmodal_Donetext small {
  font-size: 12px;
}

/* Enqmodal */
.Enqmodal {
  background-color: white !important;
  margin: auto;
  outline: none;
  width: 50%;
  margin-top: 10px;
}

.Enqmodal_close {
  cursor: pointer;

  font-size: 30px;

}


.Enqmodal_title {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
  position: sticky;
  top: 0;
  background-color: white;
}



.Enqmodal_titletext {
  font-size: 20px;
  font-weight: 500;
  margin-top: -8px;
  margin-left: 10px;
}

.Enqmodal_MainBox {
  display: flex;
  flex-wrap: wrap-reverse;

}

.Enqmodal_MainBoxDone {
  display: flex;
  flex-wrap: wrap;

}


.Careers {
  padding: 10px;
}

.Enqmodal_MainBoxB {
  width: 40%;
  overflow: hidden;
}

.Enqmodal_MainBoxB img {
  width: 100%;
}

/* Course page css end */
/* mobile css */

.CareersTop {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Countbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Welcomeuserbox {

  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}



.DPIMG {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}

.CountboxItem {

  margin: 10px;
  min-width: 20%;
  min-height: 150px;
  border-radius: 15px;
  color: #3c4852;
}

.CountboxItemText {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.CountboxItemText span {
  font-size: 25px;
  font-weight: bold;
}

.CountboxItemImg {
  display: flex;
  justify-content: flex-end;
}

.Companyslider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CompanysliderItemBox {
  display: flex;
}

.CompanysliderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 180px;
  height: 80px;
  border: 1px solid rgb(223, 219, 219);
  margin: 3px;

}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: styles_scroll__Vrm16 60s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
  will-change: transform;
}

/* Proccesbox */
.CoverBoxText {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ProccesboxItembox {
  display: flex;
  overflow: auto;
  justify-content: center;

}

.ProccesboxItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e2e4e6;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.ProccesboxItem_title {
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.ProccesboxItem_text {
  font-size: 12px;

}

/* Proccesbox end*/






.stickerBox {
  display: flex;
  justify-content: center;
}

.stickerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;

  padding: 10px;
  width: 50%;
}

.stickerItemtext {
  margin-left: 10px;
  text-align: center;
}


/* course sticker */
.coursestickerBox {
  display: flex;
}

.coursestickerBoxFooter {

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px dashed #e2e4e6;
  padding: 5px;
  padding-top: 10px;
}

.coursestickerBoxDiscountTag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coursestickerBoxDiscountTag small {
  margin-left: 5px;
  margin-top: -4px;
  color: #ab8352;
}

.coursestickerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 12px;
}

.coursestickerItem img {
  width: 12px;
}

.coursestickerItemtext {
  margin-left: 5px;
  margin-top: -2px;
  font-weight: 500;
}

.coursestickerItemtext span {
  font-size: 10px;
}

/* Desktop css end*/



.Jobbox {
  padding: 10px;
}

.JobDescbox {
  padding: 10px;
}

.JobDescbox h2 {
  font-weight: 500;
  margin: 0;
}

.JobDescbox p {
  margin: 0;
}

.JobDescbox_title {
  font-weight: bold;
}

.Appybtnbox {
  margin-top: 30px;
  width: fit-content;

}

.FooterBox_socialIcons a {
  text-decoration: none;
  color: white;

}

.TopTikker {

  margin: 10px;

}

@media only screen and (max-width: 900px) {

  .herobox {

    flex-wrap: wrap-reverse;
    padding: 1px;


  }


  .dataspacer_mob {
    height: 50px;
  }

  .CareersTop img {
    width: 100%;
  }

  .MainMenu {
    display: none;
  }

  .container {
    margin: 0;
    width: 100%;

  }

  .PassHeroBox {
    flex-wrap: wrap;

  }

  .PassHeroBoxA {
    padding: 10px;
    width: 100%;

  }

  .PassHeroBoxB {
    padding: 10px;
    width: 100%;

  }

  .WhyChooseBoxB {
    flex-wrap: wrap;
  }

  .Websitemenu {
    margin: 0;
    width: 100%;


  }

  .DashboardBox {
    margin: 0;
    width: 100%;

  }


  .DbTowBox {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;

  }

  .DbTowBoxA {
    width: 100%;

  }

  .DbTowBoxB {
    width: 100%;

  }

  .containerInovice {
    margin: 0;
    width: 100%;

  }

  .CourseDataBox {

    flex-wrap: wrap-reverse;


  }

  .PaymentBox {
    margin: 0;
    width: 100%;

  }

  .logomain {
    width: 80px;
    height: auto;
  }

  .ContactTop {
    display: none;
  }

  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;

  }

  .Showmobile {
    display: block;
    color: #f4ecec;
  }


  .MobileMenuBtn {
    display: block;


  }

  .MobileMenuBtn span {
    font-size: 30px;
  }

  .spacermobile {
    width: 100%;
  }


  .section {

    padding: 10px;

  }

  .SectionBox {

    padding: 10px;

  }

  .TitlebtnBox {
    padding-left: 5px;
  }

  .dataspacer {
    height: 10px;
  }



  .enqformHome {
    width: auto;

  }

  .Company_section_a {
    width: 100%;
    overflow: hidden;
  }

  .Company_section_b {
    width: 100%;
  }

  .Company_logo_item {
    width: 50%;
  }

  .ProcessItem {
    width: 130px;
  }

  .FooterBox_compnay {
    width: 100%;
  }

  .FooterBox_address {
    width: 100%;
  }

  .FooterBox_menu {
    width: 100%;
  }

  /* Login */
  .modal_sm {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline: none;
  }

  .CaterorieshomeItem {
    width: 100px;
  }

  /* .CBoxA {
    min-width: 90%;
    position: relative;
    height: auto;
    margin: auto;
  } */

  .CBoxB {
    min-width: 90%;
    margin: auto;
  }

  .CousalingBox_allA {
    min-width: 100%;
  }

  .CousalingBox_allB {
    min-width: 100%;
  }

  .FootermobileBtn {
    display: flex !important;
    position: fixed !important;
    bottom: 0;
    background-color: white !important;
    width: 100%;
    align-items: center !important;
    justify-content: space-around;
    padding: 10px 10px 10px 5px;
    border-top: 1px dashed rgb(211, 203, 203);

  }


  .FootermobileBtnCourse {
    display: flex !important;
    position: fixed !important;
    bottom: 0;
    background-color: rgb(255, 255, 255) !important;
    width: 100%;
    align-items: center !important;
    justify-content: space-between;
    border-top: 1px solid rgb(243, 237, 237);
    z-index: 9999;
  }
  .CatloaderBox{
    background-color: rgb(255, 0, 0);
    padding: 10px;
    display: flex;
  }
  .Catloader{
    background-color: rgb(0, 0, 0);
    margin: 15px;
    height: 50px;
    width: 50px;

  }
  

  .FootermobileBtnCourseBox {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .CBoxAData_BoxFotter {
    display: none;

  }

  .EnrollBtnBox {
    display: none;

  }

  .Enqmodal {
    margin-top: 0px;
    width: 100%;

  }

  .Enqmodal_MainBoxB {
    width: 100%;
  }


  .Box70 {

    width: 100%;

  }

  .jobapplicationform {
    padding: 10px;
  }

  .CountboxItem {

    width: 40%;

  }

  .TitlebtnBox h1 {
    font-size: 13px;
  }


  .CoverBoxText h1 {
    font-size: 25px;
  }

  .CoverBoxText {
    text-align: center;
  }

  .CoverBoxTestSeriesText h1 {
    font-size: 25px;
  }

  .CoverBoxTestSeriesText {
    text-align: center;
  }

  .heroboxleft {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: -150px;
    background-color: rgba(255, 0, 0, 0.17);

  }

  .heroboxright {
    width: 100%;


  }

  .HomeHeroBox_Second {
    border-radius: 0px;
    position: relative;
    margin: auto;

    min-height: 200px;
    margin-top: 10px;
    width: 100%;
    border: none;

  }

  .devider {
    display: block;
    height: 10px;
    background-color: #f4f7f7;
  }

  .testDestailsStiker {
    min-width: 100%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0%);
  }

  .TestCounterItem {
    margin-top: 10px;
    margin-left: 10px;
  }

  .BuyPassboxA {
    min-width: 100%;
  }

  .BuyPassboxB {
    min-width: 100%;
  }

  .CatGrid {

    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

  }

  .CatGridText {
    padding: 10px;

    display: flex;
    overflow: auto;

  }

  .CatGridText::-webkit-scrollbar {
    display: none;
  }

  .CatBoxItemCenter {
    font-size: 10px;
  }

  .CatBoxItemCenterText {
    font-size: 10px;
    min-width: 100px;
    padding: 10px;
  }

  .ProccesboxItembox {
    justify-content: flex-start;
    overflow: auto;
  }

  .ProccesboxItem {
    min-width: 180px;
  }

  .LoadMoreBtn {
    width: 100%;
  }

  .CoverBox {
    flex-wrap: wrap-reverse;
  }

  .CoverBoxPoster {
    width: 100%;
  }

  .CoverBoxTestSeries {
    flex-wrap: wrap-reverse;
  }

  .CoverBoxTestSeriesPoster {
    width: 100%;
  }

  .stickerItem {
    width: 40%;
  }

  .stickerBox {
    flex-wrap: wrap;

  }

  .LoginBoxItem {
    margin: 0;
    background-color: transparent;

    box-shadow: none;


  }

  .logomainBox {
    padding: 5px;
    margin-top: -150px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }

  .regBox {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  .mob_footer_menu {
    display: block;
  }

  .CoverBoxTestSeries {

    border-radius: 0px;
  }

  .Space5Mobile {
    display: none;
  }

  .CoverBoxTestSeriesText {
    background-color: white;
  }

  .CourseBox_container {
    width: 100%;
    flex-wrap: wrap-reverse;
  }

  .CourseBox_container_A {
    width: 100%;

  }

  .CourseBox_container_B {
    width: 100%;
    height: auto;


    position: relative;
    top: 0;


  }

  .Desktop30px {
    display: none;
  }

  .OnlyDesktop {
    display: none;
  }

  .OnlyMobile {
    display: block;
  }


  .EducatorSmallFlex {
    overflow: auto;
    flex-wrap: nowrap;


  }

  .EducatorSmallGridItem {
    min-width: 120px;
  }

  .BoxCheckoutCourse {
    width: 100%;
  }

  .HeaderBox {
    width: 100%;
  }

  .HeaderBox_Playroom {
    width: 100%;
  }

  .DoneBoxCourse {
    width: 100%;
  }

  .LottieDonepayment {
    height: 300px;
  }

  .VideoItemBox {
    flex-wrap: wrap;
    margin: 10px;
  }

  .VideoItemBoxData {
    width: 100%;
    margin-left: 0px;
    padding: 10px;
  }

  .Sharebox {
    width: 100%;
    flex-wrap: wrap-reverse;
  }

  .HeroBox2 {
    flex-wrap: wrap-reverse;
  }

  .HeroBox2A {
    width: 100%;
  }

  .HeroBox2B {
    width: 100%;

  }
  .AppLogoBox{
    flex-wrap: wrap;
    
  }
  .AppLogoBoxA{
    width: 100%;

  }
  .AppLogoBoxB{
    width: 100%;

  }

}