.LoginBox {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.LoginBoxItem {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    padding: 0px 30px 30px 30px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;

}
.regBox{
    width: 50%;
}

.LoginBoxItem_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginBoxItem img {
    width: 100px;
}

.LoginBox_input {
    margin-top: 20px;
}

.LoginBoxItem h1 {
    margin-bottom: 0px;
}
.logingif{
width: 40%;
}
.regdoneimg img{
    width: 100%;
}

.logingif img {
    width: 100%;
}


@media only screen and (max-width: 1200px) {
   
}

@media only screen and (max-width: 600px) {
  .regBox{
    width: 100%;
  }

}