.container {
    margin: auto;
    margin-top: 0;
    width: 100%;
    color: #3c4852;

}

.SubmitingBox {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.Header {
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(110, 88, 255);
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    color: white;
}

.HeaderBox {
    margin: auto;
    min-height: 40px;
    display: flex;
    width: 75%;

    padding: 10px;
}


.HeaderLeft {
    display: flex;
    align-items: center;
}

.Header_Playroom {
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    color: rgb(0, 0, 0);
}

.HeaderBox_Playroom {
    margin: auto;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 75%;

    padding: 10px;
}
.logomain {
    margin-right: 20px;
    cursor: pointer;
}
.HeaderLeft_Playroom {
    display: flex;
    align-items: center;
}

.StartertestBox {
    margin: auto;
    margin-top: 0;
    width: 75%;
    color: #3c4852;
    overflow: hidden;
    padding: 5px;
    min-height: 50vh;

}

.Nv {
    background-color: rgb(255, 255, 255);
    color: #3c4852;
    position: sticky;
    top: 0;
}



.FooterBtnBox {
    display: flex !important;
    position: fixed !important;
    bottom: 0;
    background-color: white !important;
    width: 100%;
    align-items: center !important;
    justify-content: center;
    padding: 10px 10px 10px 5px;
    border-top: 1px dashed rgb(211, 203, 203);

}

.DurationBoxItem {
    display: flex;
    align-items: center;
    


}

.DurationBox {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.instructionsBox {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

    padding: 10px;

}

.QuesBox {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;
    min-height: 50vh;
    padding: 10px;

}

.OptionsBox {
    margin: 15px;
}

.OptionsItem {
    padding: 10px;
    margin: 15px;
    background-color: rgb(245, 247, 237);
    cursor: pointer;
    border-radius: 2px;
   

}

.OptionsItem:hover {
font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}

/* Mobile CSS */

@media only screen and (max-width: 600px) {
    .StartertestBox {
        width: 95%;
    }

    .SubmitingBox {
        width: 95%;
    }

    .HeaderBox {
        width: 100%;
    }
    .HeaderBox_Playroom {
        width: 100%;
    }
    .DurationBoxItem{
        font-size: 12px;
    }
}